@import './mixins.scss';

.app__container {
  display: flex;
  .app__component {
    flex-basis: 50%;
    height: 100vh;
    padding: 10px;
    border: 1px solid #000;
    .component__wrapper {
      max-width: 350px;
      margin: 50px auto;
    }
  }
}

.preview__label {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.input {
  @include config-input;
}

.none {
  display: none;
}