.config__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .config__input, .config__select {
    border: 2px solid #000;
    padding: 5px;
    height: 30px;
  }
  .config__input {
    flex-basis: 60%;
    border-left: none;
  }
  .config__select {
    flex-basis: 40%;
  }
}
.config__add {
  width: 100%;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
}