@import './mixins.scss';

.range__wrapper {
  width: 300px;
  .range__config {
    margin-top: 20px;
    .range__label {
      display: flex;
      justify-content: space-between;
      .range__input {
        @include input;
        width: 75px;
      }
    }
  }
}